extends ../main-base.pug

block append style
  link(rel="stylesheet", href="/css/one-pg-profile.css")

block localNav
  ul
    li test 1
    li test 2
    li test 3

block landing
  figure.splash-img
    img(src="/img/14199147_10153655596141230_7160844402555212770_n.jpg", alt="silhouette of man and dogs on beach")
    figurecaption!= title
    a(href="#headBar") MORE!

//- header is here

block content
  section#bio-n-contacts
    figure
      img(src="img/2798dflkjsdl fd6g940fjsl.jpg", alt="picture of devolper with his dog")
      figurecaption Hi! I'm #{bio.name}, a #{bio.work} from #{bio.location}.

    article.infoBlob.shadow-block
      strong= aboutme.head
      div.filler
      div.filler-b
      p.text-blob= aboutme.text

      strong= tools.title
      div.filler
      div.filler-b
      div.text-blob
        each item in tools.products
          em= item.language + ": "
          each snipp in item.library
            p= snipp + ', '
          br

      strong= interests.title
      div.filler
      div.filler-b
      ul.text-blob
        each item in interests.subjects
          li!= " &bull; " + item

  section.shadow-block(id='work-history')
    h2 Braging Rights:
    figure#time-line
    each item in history
      artical
        .text-head
          p=item.year + " : " + item.employer
          p=item.field
        p= 'As a ' + item.posision + " in " + item.location + ", " + item.mission