extends ../main-base.pug

block append style
  link(rel="stylesheet", href="/css/one-pg-profile.css")

block localNav
  ul
    li test 1
    li test 2
    li test 3

block content
  figure.splash-img()
    img(src="https://loremflickr.com/900/700", alt="filler")
    figurecaption #{title}
    a(href="#bio-n-contacts") MORE!

  section#bio-n-contacts
    figure
      img(src="https://loremflickr.com/800/800", alt="picture of subject")
      figurecaption Hi! I'm #{bio.name}, a #{bio.work} from #{bio.location}.
    article.infoBlob.shadow-block
      strong= aboutme.head
      div.filler
      div.filler-b
      p.text-blob= aboutme.text

      strong= tools.title
      div.filler
      div.filler-b
      div.text-blob
        each item in tools.products
          em= item.language + ": "
          each snipp in item.library
            p= snipp + ', '
          br

      strong= interests.title
      div.filler
      div.filler-b
      ul.text-blob
        each item in interests.subjects
          li!= " &bull; " + item

  section.shadow-block(id='work-history')
    h2 Braging Rights:
    figure#time-line
    each item in history
      artical
        p= item.year
        p=item.empoyer + ": " + item.field + " - " + item.posision
        p=item.location
        p.work-body= "Responsible for " + item.mission
        br